p {
    text-align: center;
}

#musica{
    width:40%;
}

strong {
    color: rgb(4, 16, 184);
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    font-size: 18px;
}
